.container-galeri {
    width: 350px;
    height: 400px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    float: left;
}

.photo {
    width: 330px;
    height: 380px;
    background-color: burlywood;
    border-radius: 10px;
}

.container-photo{
    width: 20%;
    height: 200px;
    background-color: red;
    margin: 20px;
    float: left;
}

.col-photo {
    margin: 5px;
    transition: all 0.5s;
    background-color: white;
}

.col-photo:hover{
    transform: translateY(-2px);
    transform: scale(1.1);
    border-radius: 3px;
}

.min-with{
    min-width: 300px;
}

.clear-float{
    clear: both;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px,1fr));
    margin: 0px;
    align-items: center;
    grid-gap: 30px;
}

img{
    object-fit: cover;
}

.grid > img{
    border-radius: 10px;
    transition: all 0.5s;
}

.grid > img:hover {
    transform: scale(1.03);
}

@media (max-width:1000px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:800px){
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
}

